body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.toolbox {
  background-color: #f0f0f0;
  padding: 10px;
  width: 150px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbox-header {
  display: flex;
  justify-content: space-between;
  width: 110%;
  background-color: #ccc;
  position: relative;
  top: -10px;
  font-size: 10px;
  margin-bottom: 0px;
  padding: 2px 3px;

}

.toolbox-header h1 {
  margin: 0;
}

.toolbox-header button {
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.toolbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.toolbox-content-1 button{
  border : none;
  height: auto;
  width: auto;
}
.toolbox-content-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -15px;
}

.toolbox-content button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.toolbox-content button img {
  width: 20px;
  height: 20px;
}

.toolbox-content .color-picker {
  width: 100%;
  height: 30px;
  background-color: #ddd;
  border: 1px solid #ccc;
  margin: 5px;
}

.toolbox-content .slider {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  position: relative;
  margin: 5px;
}

.toolbox-content .slider .handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.toolbox-content .slider .handle.active {
  background-color: #007bff;
}

.toolbox-content .value {
  margin-top: 10px;
}

.toolbox-content .controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.toolbox-content .controls button {
  width: 30px;
  height: 30px;
  /* background-color: #ccc; */
  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
  padding: 0px;
}

.toolbox-content .controls button img {
  width: 30px;
  height: 30px;
}

.transparancy{
  font-weight: 700;
  font-size: 17px;
  margin-top: 10px;
}
.size{
  font-weight: 700;
  font-size: 17px;
  margin-top: 10px;
}