#body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.unique-toolbox {
  background-color: #f0f0f0;
  padding: 10px;
  width: 150px !important;
  height: 680px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unique-toolbox-header {
  display: flex;
  justify-content: space-between;
  width: 110% !important;
  background-color: #ccc;
  position: relative;
  top: -10px;
  font-size: 10px;
  margin-bottom: 0px;
  padding: 2px 3px;
}

.unique-toolbox-header h1 {
  margin: 0;
}

.unique-toolbox-header button {
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.paint{
  font-size: 15px;
  font-weight: 700;
  align-content: center;
}

.unique-toolbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.unique-toolbox-content-1 button {
  border: none;
  height: auto;
  width: auto;
}
.unique-toolbox-content-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -15px;
}

.unique-toolbox-content button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.unique-toolbox-content button img {
  width: 20px;
  height: 20px;
}

.unique-toolbox-content .unique-color-picker {
  width: 100%;
  height: 30px;
  background-color: #ddd;
  border: 1px solid #ccc;
  margin: 5px;
}

.unique-toolbox-content .unique-slider {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  position: relative;
  margin: 5px;
}

.unique-toolbox-content .unique-slider .unique-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.unique-toolbox-content .unique-slider .unique-handle.active {
  background-color: #007bff;
}

.unique-toolbox-content .unique-value {
  margin-top: 10px;
}

.unique-toolbox-content .unique-controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.unique-toolbox-content .unique-controls button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.unique-toolbox-content .unique-controls button img {
  width: 30px;
  height: 30px;
}

.unique-transparancy {
  font-weight: 700;
  font-size: 17px;
  margin-top: 10px;
}

.unique-size {
  font-weight: 700;
  font-size: 17px;
  margin-top: 10px;
}

.my-unique-image{
  border-radius: 50%;
}

.selected{
  background-color: black;
}
